header nav ul {
  display: flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
  align-items: center;
}
header nav ul li a{
  display: inline-flex;
  padding: 1rem 1.5rem;
  text-decoration: none;
  color: #fff;
}
