header div.hero {
  background-image: url("../imgs/bgs.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 50vh;
  
  text-align:center;

}
header div.hero div{
   min-height: 50vh;
}
.title{
  font-family: 'Kaushan Script', cursive;
  font-size:2rem;
  text-shadow: 1px 1px #fff;
}

.card img{
  width:100%;
}

form {
  font-size:1rem !important;
}
@media (min-width: 768px) {
        header div.hero {
            background-image: url("../imgs/bgm.jpg");
            min-height: 80vh;
        }


        form{
          font-size:2rem !important;
        }
        .title{
          font-size:6rem;
          text-shadow: 3px 3px 3px #fff;
          background-color: rgba(255,255,255,0.3);
          padding:0.7em;
          width:100%;
          
        }
      }

@media (min-width: 992px) {
        header div.hero {
            background-image: url("../imgs/bgl.jpg");
        }
         .title{
          max-width:1024px;
          margin:1em auto;
          
        }
      }
